In [44]:
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import StandardScaler
from imblearn.metrics import classification_report_imbalanced

from imblearn.over_sampling import RandomOverSampler
from sklearn import svm
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegression

import warnings
warnings.filterwarnings('ignore')

In [2]:
bank_df = pd.read_csv(Path('./Resources/bankchurners.csv'))
bank_df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [3]:
bank_df = bank_df.drop(columns=['Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
                                'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'])
bank_df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [4]:
bank_df.dtypes

CLIENTNUM                     int64
Attrition_Flag               object
Customer_Age                  int64
Gender                       object
Dependent_count               int64
Education_Level              object
Marital_Status               object
Income_Category              object
Card_Category                object
Months_on_book                int64
Total_Relationship_Count      int64
Months_Inactive_12_mon        int64
Contacts_Count_12_mon         int64
Credit_Limit                float64
Total_Revolving_Bal           int64
Avg_Open_To_Buy             float64
Total_Amt_Chng_Q4_Q1        float64
Total_Trans_Amt               int64
Total_Trans_Ct                int64
Total_Ct_Chng_Q4_Q1         float64
Avg_Utilization_Ratio       float64
dtype: object

In [5]:
numeric_values = list(bank_df.dtypes[bank_df.dtypes == "float64"].index)
numeric_values

['Credit_Limit',
 'Avg_Open_To_Buy',
 'Total_Amt_Chng_Q4_Q1',
 'Total_Ct_Chng_Q4_Q1',
 'Avg_Utilization_Ratio']

In [6]:
bank_df[numeric_values] = bank_df[numeric_values].astype(int)
print(bank_df.dtypes)

CLIENTNUM                    int64
Attrition_Flag              object
Customer_Age                 int64
Gender                      object
Dependent_count              int64
Education_Level             object
Marital_Status              object
Income_Category             object
Card_Category               object
Months_on_book               int64
Total_Relationship_Count     int64
Months_Inactive_12_mon       int64
Contacts_Count_12_mon        int64
Credit_Limit                 int32
Total_Revolving_Bal          int64
Avg_Open_To_Buy              int32
Total_Amt_Chng_Q4_Q1         int32
Total_Trans_Amt              int64
Total_Trans_Ct               int64
Total_Ct_Chng_Q4_Q1          int32
Avg_Utilization_Ratio        int32
dtype: object

In [7]:
bank_df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691,777,11914,1,1144,42,1,0
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256,864,7392,1,1291,33,3,0
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418,0,3418,2,1887,20,2,0
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313,2517,796,1,1171,20,2,0
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716,0,4716,2,816,28,2,0

In [8]:
categorical_variables = list(bank_df.dtypes[bank_df.dtypes == "object"].index)
categorical_variables

['Attrition_Flag',
 'Gender',
 'Education_Level',
 'Marital_Status',
 'Income_Category',
 'Card_Category']

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
enc = OneHotEncoder(sparse=False)

In [11]:
encoded_data = enc.fit_transform(bank_df[categorical_variables])

In [12]:
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

In [13]:
encoded_df.head(10)

,Attrition_Flag_Attrited Customer,Attrition_Flag_Existing Customer,Gender_F,Gender_M,Education_Level_College,Education_Level_Doctorate,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
6,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
8,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [14]:
numerical_variables_df = bank_df.drop(columns = categorical_variables)
numerical_variables_df.head()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,45,3,39,5,1,3,12691,777,11914,1,1144,42,1,0
1,818770008,49,5,44,6,1,2,8256,864,7392,1,1291,33,3,0
2,713982108,51,3,36,4,1,0,3418,0,3418,2,1887,20,2,0
3,769911858,40,4,34,3,4,1,3313,2517,796,1,1171,20,2,0
4,709106358,40,3,21,5,1,0,4716,0,4716,2,816,28,2,0

In [15]:
main_bank_df = pd.concat(
    [
        numerical_variables_df,
        encoded_df
    ],
    axis=1
)
main_bank_df.head()

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,768805383,45,3,39,5,1,3,12691,777,11914,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,818770008,49,5,44,6,1,2,8256,864,7392,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,713982108,51,3,36,4,1,0,3418,0,3418,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,769911858,40,4,34,3,4,1,3313,2517,796,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,709106358,40,3,21,5,1,0,4716,0,4716,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [16]:
main_bank_df["Attrition_Flag_Attrited Customer"] = main_bank_df["Attrition_Flag_Attrited Customer"].apply(int)

y = main_bank_df["Attrition_Flag_Attrited Customer"]
y[:5]

0    0
1    0
2    0
3    0
4    0
Name: Attrition_Flag_Attrited Customer, dtype: int64

In [17]:
X = main_bank_df.drop(columns=["Attrition_Flag_Attrited Customer", "Attrition_Flag_Existing Customer"])
X.head(5)

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,...,Income_Category_$120K +,Income_Category_$40K - $60K,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,768805383,45,3,39,5,1,3,12691,777,11914,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,818770008,49,5,44,6,1,2,8256,864,7392,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,713982108,51,3,36,4,1,0,3418,0,3418,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3,769911858,40,4,34,3,4,1,3313,2517,796,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,709106358,40,3,21,5,1,0,4716,0,4716,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [19]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [20]:
y_train.value_counts()

0    6373
1    1222
Name: Attrition_Flag_Attrited Customer, dtype: int64

In [21]:
random_oversampler = RandomOverSampler(random_state=1)

In [22]:
X_resampled, y_resampled = random_oversampler.fit_resample(X_train, y_train)

In [23]:
y_resampled.value_counts()

0    6373
1    6373
Name: Attrition_Flag_Attrited Customer, dtype: int64

In [24]:
svm_model = svm.SVC()
svm_org_model = svm_model.fit(X_train, y_train)
y_svm_org_pred = svm_org_model.predict(X_test)
y_svm_org_pred[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [25]:
svm_re_model = svm.SVC()
svm_resampled_model = svm_re_model.fit(X_resampled, y_resampled)
y_svm_resampled_pred = svm_resampled_model.predict(X_test)
y_svm_resampled_pred[:10]

array([1, 1, 1, 1, 1, 0, 0, 1, 1, 0], dtype=int64)

In [26]:
confusion_matrix(y_test, y_svm_org_pred)

array([[2127,    0],
       [ 405,    0]], dtype=int64)

In [27]:
confusion_matrix(y_test, y_svm_resampled_pred)

array([[ 691, 1436],
       [ 103,  302]], dtype=int64)

In [28]:
print(classification_report_imbalanced(y_test, y_svm_org_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.84      1.00      0.00      0.91      0.00      0.00      2127
          1       0.00      0.00      1.00      0.00      0.00      0.00       405

avg / total       0.71      0.84      0.16      0.77      0.00      0.00      2532

In [29]:
print(classification_report_imbalanced(y_test, y_svm_resampled_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.87      0.32      0.75      0.47      0.49      0.23      2127
          1       0.17      0.75      0.32      0.28      0.49      0.25       405

avg / total       0.76      0.39      0.68      0.44      0.49      0.24      2532

In [39]:
svm_original_accuracy = balanced_accuracy_score(y_test, y_svm_org_pred)
svm_original_accuracy

0.5

In [40]:
svm_resampled_accuracy = balanced_accuracy_score(y_test, y_svm_resampled_pred)
svm_resampled_accuracy

0.5352748611328771

In [33]:
ada_model = AdaBoostClassifier()
ada_org_model = ada_model.fit(X_train, y_train)
y_ada_org_pred = ada_org_model.predict(X_test)
y_ada_org_pred[:10]

array([0, 0, 0, 0, 1, 0, 1, 0, 0, 1], dtype=int64)

In [34]:
ada_re_model = AdaBoostClassifier()
ada_resampled_model = ada_re_model.fit(X_resampled, y_resampled)
y_ada_resampled_pred = ada_resampled_model.predict(X_test)
y_ada_resampled_pred[:10]

array([0, 0, 0, 0, 1, 0, 1, 0, 0, 1], dtype=int64)

In [35]:
confusion_matrix(y_test, y_ada_org_pred)

array([[2079,   48],
       [  77,  328]], dtype=int64)

In [36]:
confusion_matrix(y_test, y_ada_resampled_pred)

array([[1975,  152],
       [  31,  374]], dtype=int64)

In [37]:
print(classification_report_imbalanced(y_test, y_ada_org_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.96      0.98      0.81      0.97      0.89      0.80      2127
          1       0.87      0.81      0.98      0.84      0.89      0.78       405

avg / total       0.95      0.95      0.84      0.95      0.89      0.80      2532

In [38]:
print(classification_report_imbalanced(y_test, y_ada_resampled_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.98      0.93      0.92      0.96      0.93      0.86      2127
          1       0.71      0.92      0.93      0.80      0.93      0.86       405

avg / total       0.94      0.93      0.92      0.93      0.93      0.86      2532

In [42]:
ada_original_accuracy = balanced_accuracy_score(y_test, y_ada_org_pred)
ada_original_accuracy

0.8936547737205942

In [43]:
ada_resampled_accuracy = balanced_accuracy_score(y_test, y_ada_resampled_pred)
ada_resampled_accuracy

0.925997318427972

In [45]:
lr_model = LogisticRegression()
lr_org_model = lr_model.fit(X_train, y_train)
y_lr_org_pred = lr_org_model.predict(X_test)
y_lr_org_pred[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [46]:
lr_re_model = LogisticRegression()
lr_resampled_model = lr_re_model.fit(X_resampled, y_resampled)
y_lr_resampled_pred = lr_resampled_model.predict(X_test)
y_lr_resampled_pred[:10]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [47]:
confusion_matrix(y_test, y_lr_org_pred)

array([[2127,    0],
       [ 405,    0]], dtype=int64)

In [48]:
confusion_matrix(y_test, y_lr_resampled_pred)

array([[2127,    0],
       [ 405,    0]], dtype=int64)

In [49]:
print(classification_report_imbalanced(y_test, y_lr_org_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.84      1.00      0.00      0.91      0.00      0.00      2127
          1       0.00      0.00      1.00      0.00      0.00      0.00       405

avg / total       0.71      0.84      0.16      0.77      0.00      0.00      2532

In [50]:
print(classification_report_imbalanced(y_test, y_lr_resampled_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.84      1.00      0.00      0.91      0.00      0.00      2127
          1       0.00      0.00      1.00      0.00      0.00      0.00       405

avg / total       0.71      0.84      0.16      0.77      0.00      0.00      2532

In [51]:
lr_original_accuracy = balanced_accuracy_score(y_test, y_lr_org_pred)
lr_original_accuracy

0.5

In [52]:
lr_resampled_accuracy = balanced_accuracy_score(y_test, y_lr_resampled_pred)
lr_resampled_accuracy

0.5